#float {
    float: right;
}

#float a {
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #1c96ba;
    color: white;
    display: inline-block;
    padding: 30px;
}

#float a:hover {
    background-color: #0c73b2;
}

@media screen and (max-width: 700px) {
    #float {
        float: none;
    }

    #float a {
        display: block;
        text-align: left;
        padding: 15px;
    }
}