<div id="homecontainer">
    <h1>Startsida</h1>
    <p>På denna webbplats kan du omvandla temperatur, från Celsius till Farenheit och från Farenheit till Celsius. Det
        finns även en omvandlare som omvandlar längd, från meter till fot och från fot till meter. För att använda dessa
        omvandlare, gå till sidan som heter just "Omvandlare."</p>
    <img id="img1" src="assets/images/corals1.jpg" alt="Korallstrand">
    <img id="img2" src="assets/images/corals2.jpg" alt="Korallstrand">
    <img id="img3" src="assets/images/corals3.jpg" alt="Korallstrand">
</div>